# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
assets/structures/*.glb filter=lfs diff=lfs merge=lfs -text
assets/structures/*.sdf filter=lfs diff=lfs merge=lfs -text
assets/structures/*.png filter=lfs diff=lfs merge=lfs -text
